[Desktop Entry]
Name=ZenyDesk
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=zenydesk
Exec=zenydesk %u
Icon=zenydesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
